<nav class="navbar navbar-dark bg-primary pt-0">
  <div class="row w-100 mx-0 my-0 pb-0 pt-1">
    <div class="col-2 px-0 pb-0 pt-1 text-center offset-5" >
      <a th:href="@{/}"><img th:src="@{/images/meals.png}" width="55px"></a>
    </div>
    <div class="col-5 px-2 text-end">
      <a class="dropdown-toggle user-toggle text-white text-decoration-none" data-toggle="dropdown" style="font-size:.7rem; line-height:1" sec:authentication="principal.username"></a>
      <ul class="dropdown-menu dropdown-menu-right nav-dropdown-menu py-1" style="right:0;">
        <li><a class="dropdown-item" href="javascript:void(0)" onclick="openUserPreferences()">Preferences</a></li>
        <li><a class="dropdown-item logout" href="javascript:void(0)" onclick="$('#logoutForm').submit()">Logout</a></li>
      </ul>
      <form id="logoutForm" th:attr="action=@{/logout}" method="POST"></form>
    </div>
  </div>
  <div class="navbar-nav w-100 row no-gutters mt-1">
    <div class="col col-4 d-flex align-self-end justify-content-center">
      <a id="mealNavLink" data-target="#mealsContainer" class="nav-item py-0 nav-link active" href="#tab=meals">Entr&eacute;es</a>
    </div>
    <div class="col col-4 d-flex align-self-end justify-content-center">
      <a id="mealNavLink" data-target="#sidesContainer" class="nav-item py-0 nav-link" href="#tab=sides">Sides</a>
    </div>
    <div class="col col-4 d-flex align-self-end justify-content-center">
      <a id="weekNavLink" data-target="#weeksContainer" class="nav-item py-0 nav-link" href="#tab=weeks">Weeks</a>
    </div>
  </div>
</nav>
<script>
  $(document).on('click','.nav-item',function(){
    $('.nav-item').removeClass('active');
    $(this).addClass('active');
    $('.page-container').hide();
    $($(this).data('target')).show();
    if ($('#mealsContainer').is(':visible'))
      $('.create-meal').addClass('showme');
    else
      $('.create-meal').removeClass('showme');

    if ($('#sidesContainer').is(':visible'))
      $('.create-side').addClass('showme');
    else
      $('.create-side').removeClass('showme');
  })
  $(document).ready(function(){
    if (tab == 'meals' || tab === null)
      $('.create-meal').addClass('showme');
    if (tab == 'sides')
      $('.create-side').addClass('showme');
  })
</script>