<th:block th:fragment="head(title)">
  <!DOCTYPE html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no maximum-scale=1.0,user-scalable=0, minimal-ui" />
    <meta name="apple-mobile-web-app-title" content="Meal Planner">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" th:href="@{/images/app.png}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/datatable.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.datatable.min.css}" />
    <link rel="stylesheet" th:href="@{/css/site.css}" />
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="apple-touch-icon" th:href="@{/images/app.png}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery-listswipe.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/js/select2.full.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/static-functions.js}"></script>
    <script th:inline="javascript">
      var contextpath = /*[[@{/}]]*/;
      var loggedInUser = /*[[${#authentication?.getPrincipal()}]]*/;
    </script>
    <th:block th:replace="modal/search"></th:block>
    <th:block th:replace="modal/create-edit"></th:block>
    <th:block th:replace="modal/create-edit-side"></th:block>
    <th:block th:replace="modal/ingredients"></th:block>
    <th:block th:replace="modal/add-side"></th:block>
    <div id="loading" class="collapse">
      <div class="d-flex justify-content-center">
        <div class="spinner-border my-5" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div id="checkmarkAni" class="collapse">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>
    </div>
  </head>
</th:block>