<div class="modal fade" id="addSideModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h6 class="modal-title text-dark">Create Meal</h6>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">
        <form id="addSideForm" th:action="@{/meal/add-sides}" method="POST">
          <input type="hidden" name="addSideMealId" id="addSideMealId" value="0">
          <input type="hidden" name="addSidePostUpdates" id="addSidePostUpdates" value="false">
          <input type="hidden" name="addSideWeekId" id="addSideWeekId" value="0">
          <div class="container pt-2 border-bottom">
            <table class="table mb-0" id="sideDataTable">
              <thead>
                <tr>
                  <th class="border-0"></th>
                </tr>
              </thead>
              <tbody id="addSideList">

              </tbody>
            </table>
          </div>
          <button type="submit" id="addSideSubmitBtn" form="addSideForm" class="btn btn-lg btn-primary w-100 mt-3">Add side(s)</button>
        </form>
      </div>
      <div class="collapse" id="sideRowTemplate">
        <div class="row no-gutters px-2">
          <div class="col-1 round mb-2">
            <input type="checkbox" class="form-check-input add-side-checkbox" name="sidesToAdd"/>
            <label class="add-side-checkbox-label"></label>
          </div>
          <div class="col-11 ps-3">
            <label class="add-side-label w-100 my-1"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#addSideForm').on('submit',function(e){
    e.preventDefault();
    if ($('#addSidePostUpdates').val() == "true") {
      var dataString = $(this).serialize();
      var xhr = $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        method: "POST",
        data: dataString,
        beforeSend: function() {
          $('#addSideSubmitBtn').prop('disabled',true);
        },
        success: function () {
          reloadIfRedirect(xhr);
          refreshWeekList(() => focusWeekMeal($('#addSideWeekId').val(), $('#addSideMealId').val()));
        },
        complete: function() {
          $('#addSideSubmitBtn').prop('disabled',false);
          $('#addSideModal').modal('hide');
        },
        error: function() {
          ajaxErrorHandler();
        }
      });
    } else {
      let mealId = $('#addSideMealId').val();
      let sidesToAdd = $('#addSideList .add-side-checkbox:checked').map(function(){
        return $(this).val();
      }).get();
      mealSidesMap[mealId] = sidesToAdd;
      $('#addSideModal').modal('hide');
    }
  });
  async function addSide(mealId, weekId) {
    $('.alert.add-meal').addClass('slide-down');
    $('#addSideMealId').val(mealId);
    $('#addSideModal .modal-title').html("Choose your sides for " + $('#mealName_' + mealId).text());
    await sides.forEach((s) => {
      var newLineItem = $('#sideRowTemplate > div').clone()
      $(newLineItem).find('.add-side-checkbox').val(s.id);
      $(newLineItem).find('.add-side-checkbox').attr('id','mealSide_' + s.id);
      $(newLineItem).find('.add-side-checkbox-label').attr('for','mealSide_' + s.id);
      $(newLineItem).find('.add-side-label').text(s.name);
      $(newLineItem).find('.add-side-label').attr('for','mealSide_' + s.id);
      let markup = '<tr><td>' + $('<div>').append($(newLineItem).clone()).html(); + '</td></tr>';
      $('#addSideList').append(markup);
    });
    if (weekId) {
      $('#addSidePostUpdates').val(true);
      $('#addSideWeekId').val(weekId);
      $('#weekMealSideList_' + weekId + '_' + mealId + ' li').each(function(){
        $('#addSideList #mealSide_' + $(this).data('target')).prop('checked',true);
      })
    }
    if (!$.fn.DataTable.isDataTable('#sideDataTable')) {
      $('#sideDataTable').dataTable( {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "ordering": false,
        "bScrollInfinite": true,
        "bScrollCollapse": true,
        "sScrollY": "55vh",
        language: {
          search:'',
          searchPlaceholder: "Search",
          emptyTable: "No sides could be found"
        }
      } );
      $('#sideDataTable_filter').addClass('mb-2')
      $('#sideDataTable_filter input').addClass('form-control')
    }
    $('#addSideModal').modal('show');
  }
  $('#addSideModal').on('hide.bs.modal', function () {
    $('.alert.add-meal').removeClass('slide-down');
  })
  $('#addSideModal').on('hidden.bs.modal', function () {
    $('#addSideList').html("");
    $('#addSidePostUpdates').val("false");
  })
</script>