<div class="modal fade" id="createEditModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark">Create Meal</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createEditForm" method="POST">
          <input type="hidden" name="inputMealId" id="inputMealId" value="0">
          <div class="input-group mb-3 has-validation">
            <input name="inputMealName" id="inputMealName" type="text" class="form-control input-meal-name col-11" placeholder="Meal name*" aria-label="Meal name" required>
            <div class="col-1 text-end my-2">
              <input type="checkbox" class="collapse" name="createEditFavorite" id="createEditFavorite">
              <i id="inputFavorite" class="my-1 far fa-heart"></i>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="inputMealIngredients text-primary">Ingredients</label>
            <select class="form-select form-select-lg input-meal-ingredients" data-width="100%" id="inputMealIngredients" name="inputMealIngredients" multiple="multiple">
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="inputMealTags text-primary">Tags</label>
            <select class="form-select form-select-lg input-meal-tags" data-width="100%" name="inputMealTags" id="inputMealTags" multiple="multiple">
            </select>
          </div>
          <div class="input-group mb-3">
            <textArea name="inputMealNotes" id="inputMealNotes" type="text" class="form-control input-meal-notes" placeholder="Notes" aria-label="Meal notes"></textArea>
          </div>
          <div class="input-group mb-1">
            <input id="inputRecipeUrl" name="inputRecipeUrl" type="text" class="form-control input-recipe-url" placeholder="Recipe URL" aria-label="Recipe URL">
            <input accept="image/png, image/gif, image/jpeg" class="form-control collapse" type="file" name="recipeImages" id="recipeImages" multiple>
          </div>
          <div class="row fs-sm">
            <div class="col-5 text-end px-0">
              <label class="form-check-label" for="recipeToggle">Link recipe</label>
            </div>
            <div class="col-2 px-0">
              <div class="form-check form-switch d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="recipeToggle" id="recipeToggle">
              </div>
            </div>
            <div class="col-5 px-0">
              <label class="form-check-label" for="recipeToggle">Upload recipe</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="inputSubmitBtn" form="createEditForm" class="btn btn-lg btn-primary w-100"></button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#recipeToggle').on('change',function(){
    if ($(this).is(':checked')) {
      $('#inputRecipeUrl').hide()
      $('#recipeImages').show();
    } else {
      $('#inputRecipeUrl').show()
      $('#recipeImages').hide();
    }
  });
  $('#inputFavorite').on('click',function(){
    if($(this).hasClass('far')) {
      $('#createEditFavorite').prop('checked',true);
      $(this).removeClass('far');
      $(this).addClass('fas');
    } else {
      $('#createEditFavorite').prop('checked',false);
      $(this).addClass('far');
      $(this).removeClass('fas');
    }
  });
  $('#createEditForm').on('submit',function(e){
    var dataString = new FormData(this);
    e.preventDefault();
    $.ajax({
      url: $(this).attr("action"),
      type: "POST",
      method: "POST",
      enctype: 'multipart/form-data',
      processData: false,
      contentType: false,
      cache: false,
      data: dataString,
      beforeSend: function() {
        $('#inputSubmitBtn').prop('disabled',true);
      },
      success: function () {
        $('#createEditModal').modal('hide');
        $('#noMealsMessage').hide();
        refreshMealList();
        refreshWeekList();
        refreshIngredients();
        refreshTags();
      },
      complete: function() {
        $('#inputSubmitBtn').prop('disabled',false);
      }
    });
  });
  async function editMeal(id) {
    $('#inputSubmitBtn').text('Edit');
    $('#createEditModal .modal-title').html("Edit " + $('#mealName_' + id).text());
    $('#inputMealName').val($('#mealName_' + id).text());
    $('#inputMealId').val(id);
    $('#createEditFavorite').prop('checked',$('#favoriteCheckbox_' + id).hasClass("fas"));
    $('#inputMealNotes').val($('#mealNotes_' + id).text());
    if ($('#mealRecipeUrl_' + id).data("image") == "self_hosted"){
      $('#recipeToggle').click();
    }
    else
      $('#inputRecipeUrl').val($('#mealRecipeUrl_' + id).attr("href"));
    $('#createEditModal form').attr('action', contextpath + 'meal/edit/' + id);
    if ($('#favoriteCheckbox_' + id).hasClass("fas"))
      $('#inputFavorite').click();
    
    //Ingredients
    let mealIngredients = $('#accordion_' + id + ' .meal-ingredient').map(function(){
      return $(this).data('target');
    }).get();
    await ingredients.forEach(i => {
      jQuery('<option/>', {
            value: i.id,
            html: i.name,
            selected: mealIngredients.includes(i.id)
            }).appendTo('#inputMealIngredients'); 
    });
    //Tags
    let mealTags = $('#accordion_' + id + ' .meal-tag').map(function(){
      return $(this).data('target').toString();
    }).get();
    await tags.forEach((v,k) => {
      jQuery('<option/>', {
            value: k,
            html: v,
            selected: mealTags.includes(k)
            }).appendTo('#inputMealTags'); 
    });
    $('.input-meal-ingredients, .input-meal-tags').select2({
      placeholder: 'Click to add',
      tags: true
    });
    $('.input-meal-ingredients, .input-meal-tags').on('select2:unselecting', function(e){
      unselecting = true;
    });
    $('.input-meal-ingredients, .input-meal-tags').on('select2:opening', function(e){
      if (unselecting) {
        unselecting = false;
        return false;
      }
      return true;
    });
    $('#createEditModal').modal('show');
  }
  async function createMeal() {
    $('#inputSubmitBtn').text('Create Meal');
    $('#createEditModal .modal-title').html("Create a New Meal");
    $('#createEditModal').modal('show');
    $('#createEditModal form').attr('action', contextpath + 'meal/create');
    await ingredients.forEach(i => {
      jQuery('<option/>', {
            value: i.id,
            html: i.name,
            }).appendTo('#inputMealIngredients'); 
    });
    await tags.forEach((v,k) => {
      jQuery('<option/>', {
            value: k,
            html: v,
            }).appendTo('#inputMealTags'); 
    });
    $('.input-meal-ingredients, .input-meal-tags').select2({
      placeholder: 'Click to add',
      tags: true
    });
    $('.input-meal-ingredients, .input-meal-tags').on('select2:unselecting', function(e){
      unselecting = true;
    });
    $('.input-meal-ingredients, .input-meal-tags').on('select2:opening', function(e){
      if (unselecting) {
        unselecting = false;
        return false;
      }
      return true;
    });
  }
  $('#createEditModal').on('hidden.bs.modal', function () {
    $('#createEditModal .modal-title').html("");
    $('#inputMealName').val("");
    $('#inputMealId').val("0");
    $('#createEditFavorite').prop('checked','false');
    $('#inputMealNotes').val("");
    $('#inputRecipeUrl').val("");
    $('#inputMealTags').find('option').remove().end()
    $('#inputMealIngredients').find('option').remove().end()
    $('#createEditFavorite').prop('checked',false);
    $('#inputFavorite').addClass('far');
    $('#inputFavorite').removeClass('fas');
    $('#recipeToggle').prop('checked',false);
    $('#recipeImages').val('');
    $('#inputRecipeUrl').show()
    $('#recipeImages').hide();
  })
</script>