<div class="modal fade" id="preferencesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-dark">User Preferences</h6>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="preferencesForm" th:action="@{/update-preferences}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="preferencesForm" class="btn btn-lg btn-primary w-100">Save</button>
        <button type="button" class="btn btn-lg btn-secondary w-100" onclick="resetPreferences()">Reset</button>
      </div>
    </div>
  </div>
</div>
<script>
  function resetPreferences() {
    $('#prefSortBy').val('NAME');
    $('#prefSortOrder').val('ASC');
    $('#prefWeekStartDay').val('5');
    $('#krogerZip').val('40517');
    $('#prefKrogerLocationId').val('02400347');
  }
  function openUserPreferences() {
    $.ajax({
      url: contextpath + 'user-preferences',
      method: "GET",
      beforeSend: function() {
        $('#preferencesModal #preferencesForm').html($('#loading').html());
        $('#preferencesModal').modal('show');
      },
      success: function(data){
        $('#preferencesModal #preferencesForm').html(data)
      }
    });
  }
  $(document).on('submit','#preferencesForm',function(e){
    e.preventDefault();
    $('#preferencesModal').modal('hide');
    $.ajax({
      url: contextpath + 'update-preferences',
      method: "POST",
      data: $(this).serialize(),
      success: function(){
        refreshSearchModal();
      }
    })
  });

  $(document).on('change','#krogerZip',function(){
    $('#prefKrogerLocationId').find('option').remove().end();
    $.ajax({
      url: contextpath + 'json/kroger-locations',
      method: "GET",
      data: {
        zipCode: $('#krogerZip').val()
      },
      beforeSend: function() {
        $('#prefKrogerLocationId').prepend('<option selected>Loading...</option>')
      },
      success: function(data){
        data.data.forEach(l => {
          jQuery('<option/>', {
            value: l.locationId,
            html: l.name,
            }).appendTo('#prefKrogerLocationId'); 
          });
      }
    });
  });
</script>