<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-dark">Search Filters</h6>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="searchForm" th:fragment="searchForm()">
          <div class="row">
            <div class="col-8">
              <div class="form-floating">
                <select class="form-select search-input" id="sortBy" name="sortBy" aria-label="Sort meals by">
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'NAME'}"
                    th:classappend="${#authentication.principal.preferences.get('sort') == 'NAME'? 'pref-val': ''}" value="NAME">Meal name</option>
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'CNT'}"
                    th:classappend="${#authentication.principal.preferences.get('sort') == 'CNT'? 'pref-val': ''}" value="CNT">Total times planned</option>
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'LAST_EATEN'}"
                    th:classappend="${#authentication.principal.preferences.get('sort') == 'LAST_EATEN'? 'pref-val': ''}" value="LAST_EATEN">Last planned</option>
                </select>
                <label for="sortBy">Sort meals by</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating">
                <select class="form-select search-input" id="sortOrder" name="sortOrder" aria-label="Sort direction">
                  <option th:selected="${#authentication.principal.preferences.get('sortDirection') == 'ASC'}"
                    th:appendclass="${#authentication.principal.preferences.get('sortDirection') == 'ASC'? 'pref-val': ''}" value="ASC">Asc.</option>
                  <option th:selected="${#authentication.principal.preferences.get('sortDirection') == 'DESC'}"
                    th:appendclass="${#authentication.principal.preferences.get('sortDirection') == 'DESC'? 'pref-val': ''}" value="DESC">Desc.</option>
                </select>
                <label for="sortOrder">Order</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-muted">
              <small>
                Filter by tag
              </small>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
                <h5 id="tagFilters" class="d-inline-block search-tag-box">
                </h5>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input search-input" th:classappend="${#authentication.principal.preferences.get('pinFavorites') == '1'? 'pref-checked': 'pref-not-checked'}"
                  th:checked="${#authentication.principal.preferences.get('pinFavorites') == '1'}" type="checkbox" id="pinFavorites" name="pinFavorites"/>
                <label class="form-check-label text-muted" for="pinFavorites"><small>Pin favorites</small></label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary w-100" onclick="search()" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-lg btn-secondary w-100" onclick="resetFilter()">Reset</button>
      </div>
    </div>
  </div>
</div>
<script>
  function resetFilter() {
    $('#tagFilters .search-tag').removeClass(['active','bg-info']);
    $('#tagFilters .search-tag').addClass('bg-secondary');
    $('#sortBy').val('NAME');
    $('#sortOrder').val('ASC');
    $('#searchFilterBtn').removeClass('active');
  }
  $(document).on('hide.bs.modal','#searchModal',function(){
    $('#searchFilterBtn').blur();
  })
  $(document).on('show.bs.modal','#searchModal',function(){
    if(!$('#tagFilters .search-tag.active').length) {
      $('#tagFilters').html('');
      tags.forEach((v,k) => {
        jQuery('<span/>', {
              'data-target': k,
              class: 'badge rounded-pill bg-secondary mx-1 my-1 py-2 search-tag',
              html: v
              }).appendTo('#tagFilters'); 
      });
    }
  })
  $(document).on('click','.search-tag',function(){
    if ($(this).hasClass('active')) {
      $(this).removeClass(['active','bg-info']);
      $(this).addClass('bg-secondary');
    } else {
      $(this).removeClass('bg-secondary');
      $(this).addClass(['active','bg-info']);
    }
  });
</script>