<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-dark">Search Filters</h6>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-8">
              <div class="form-floating">
                <select class="form-select" id="sortBy" aria-label="Sort meals by">
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'NAME'}" value="NAME">Meal name</option>
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'CNT'}" value="CNT">Total times planned</option>
                  <option th:selected="${#authentication.principal.preferences.get('sort') == 'LAST_EATEN'}" value="LAST_EATEN">Last planned</option>
                </select>
                <label for="sortBy">Sort meals by</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating">
                <select class="form-select" id="sortOrder" aria-label="Sort direction">
                  <option th:selected="${#authentication.principal.preferences.get('sortDirection') == 'ASC'}" value="ASC">Asc.</option>
                  <option th:selected="${#authentication.principal.preferences.get('sortDirection') == 'DESC'}" value="DESC">Desc.</option>
                </select>
                <label for="sortOrder">Order</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-muted">
              <small>
                Filter by tag
              </small>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
                <h5 id="tagFilters" class="d-inline-block search-tag-box">
                </h5>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" th:checked="${#authentication.principal.preferences.get('pinFavorites')}" type="checkbox" id="preferFavorites"/>
                <label class="form-check-label text-muted" for="preferFavorites"><small>Pin favorites</small></label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary w-100" onclick="search()" data-dismiss="modal">Apply</button>
        <button type="button" class="btn btn-lg btn-secondary w-100" onclick="resetFilter()">Reset</button>
      </div>
    </div>
  </div>
</div>
<script>
  function resetFilter() {
    $('#tagFilters .search-tag').removeClass(['active','bg-info']);
    $('#tagFilters .search-tag').addClass('bg-secondary');
    $('#sortBy').val('NAME');
    $('#sortOrder').val('ASC');
    $('#searchFilterBtn').removeClass('active');
  }
  $(document).on('show.bs.modal','#searchModal',function(){
    if(!$('#tagFilters .search-tag.active').length) {
      $('#tagFilters').html('');
      tags.forEach((v,k) => {
        jQuery('<span/>', {
              'data-target': k,
              class: 'badge rounded-pill bg-secondary mx-1 my-1 py-2 search-tag',
              html: v
              }).appendTo('#tagFilters'); 
      });
    }
  })
  $('#preferFavorites, #sortBy, #sortOrder').on('change',function() {
    $.ajax({
      url: contextpath + 'update-preferences',
      method: "POST",
      data: {
        pinFavorites: $('#preferFavorites').prop('checked'),
        sortBy: $('#sortBy').val(),
        sortOrder: $('#sortOrder').val()
      }
    })
  })
  $(document).on('click','.search-tag',function(){
    if ($(this).hasClass('active')) {
      $(this).removeClass(['active','bg-info']);
      $(this).addClass('bg-secondary');
    } else {
      $(this).removeClass('bg-secondary');
      $(this).addClass(['active','bg-info']);
    }
  });
</script>