<th:block th:fragment="mealSubDetails(meal)">
  <li th:classappend="${'accordion-sub-' + meal.id}" data-parent="#subMealList"
    class="container px-4 bg-secondary accordion-collapse collapse">
    <h6 th:if="${#lists.size(meal.ingredients) > 0}" class="mt-2">Ingredients</h6>
    <ul th:if="${#lists.size(meal.ingredients) > 0}"
      class="list-group list-group-flush d-flex flex-row flex-wrap bg-secondary">
      <li th:each="ingredient : ${meal.ingredients}" class="list-group-item border-bottom"
        th:classappend="${#lists.size(meal.ingredients) == 1? 'w-100':'w-50'}">
        <small class="meal-ingredient" th:text="${ingredient.name}"
          th:attr="data-target=${ingredient.id}"></small>
      </li>
    </ul>
    <h6 th:if="${#maps.size(meal.tags) > 0}" class="mt-2">Tags</h6>
    <div th:if="${#maps.size(meal.tags) > 0}" class="row no-gutters">
      <div class="col">
        <small>
          <span class="badge rounded-pill bg-dark mx-1 my-1 meal-tag" th:each="tag : ${meal.tags}"
            th:attr="data-target=${tag.key}" th:text="${tag.value}"></span>
        </small>
      </div>
    </div>
    <h6 th:if="${meal.notes != null}" class="mt-2">Notes</h6>
    <div th:if="${meal.notes != null}" class="row no-gutters">
      <div class="col px-4">
        <small th:id="${'mealNotes_' + meal.id}" th:text="${meal.notes}"></small>
      </div>
    </div>
    <div class="my-2 col text-center">
      <a th:if="${meal.recipeUrl != null && meal.recipeUrl != ''}" th:id="${'mealRecipeUrl_' + meal.id}" th:href="${meal.recipeUrl}"
        target="_blank">View Recipe <i class="ms-1 fas fa-external-link-alt"></i></a>
    </div>
  </li>
</th:block>