<th:block th:fragment="meal(meal)">
  <li th:id="${'accordionHeader_' + meal.id}" data-toggle="collapse"
    th:attr="data-target=${'#accordion_' + meal.id},data-mealid=${meal.id}"
    class="clickable my-0 accordion-header item list-group-item list-group-item-action">
    <button class="action edit bg-primary stop-prop" th:attr="onclick=${'editMeal('+meal.id+')'}">Edit</button>
    <div class="row no-gutters">
      <div class="round form-check col col-2">
        <input type="checkbox" class="form-check-input stop-prop meal-select" th:id="${'mealCheckbox_' + meal.id}"
          th:value="${meal.id}" th:attr="data-target=${meal.id}">
        <label class="form-check-label stop-prop" th:attr="for=${'mealCheckbox_' + meal.id}"></label>
      </div>
      <div th:id="${'mealName_' + meal.id}" class="meal-text text-truncate col col-9 ps-0" th:text="${meal.name}">
      </div>
      <div class="col col-1 text-end mt-1 pe-0 meal-list-fav">
        <i th:id="${'favoriteCheckbox_' + meal.id}" th:attr="data-target=${meal.id}" class="fa-heart stop-prop"
          th:classappend="${meal.favorite? 'fas' : 'far'}"></i>
      </div>
    </div>
    <button th:attr="onclick=${'deleteMeal(' + meal.id + ')'}" class="action delete bg-danger stop-prop">Delete</button>
  </li>
  <th:block th:replace="dynamic/meal-details :: mealDetails(${meal})"></th:block>
</th:block>