<th:block th:fragment="mealDetails(meal)">
  <li th:id="${'accordion_' + meal.id}" class="pt-0 pb-0 px-2 bg-light container accordion-collapse collapse"
    th:attr="data-target=${meal.id}" data-parent="#mealTable">
    <h6 th:if="${#lists.size(meal.ingredients) > 0}" class="my-2">Ingredients</h6>
    <div th:if="${#lists.size(meal.ingredients) > 0}"
      class="row no-gutters my-2">
      <div class="col">
          <span th:each="ingredient : ${meal.ingredients}" class="badge rounded-pill bg-dark px-2 py-2 mx-1 my-1 meal-ingredient"
            th:attr="data-target=${ingredient.id}">
            <small th:text="${ingredient.name}"></small>
          </span>
      </div>
    </div>
    <h6 th:if="${#maps.size(meal.tags) > 0}" class="my-2">Tags</h6>
    <div th:if="${#maps.size(meal.tags) > 0}" class="row no-gutters my-2">
      <div class="col">
          <span class="badge rounded-pill bg-secondary px-2 py-2 mx-1 my-1 meal-tag" th:each="tag : ${meal.tags}"
            th:attr="data-target=${tag.key}">
            <small th:text="${tag.value}"></small>
          </span>
      </div>
    </div>
    <h6 th:if="${meal.notes != null && meal.notes != ''}" class="my-2">Notes</h6>
    <div th:if="${meal.notes != null}" class="row no-gutters my-2">
      <div class="col px-4">
          <p th:id="${'mealNotes_' + meal.id}" th:text="${meal.notes}" class="text-prewrap text-small mb-0"></p>
      </div>
    </div>
    <hr th:if="${#maps.size(meal.tags) > 0 || #lists.size(meal.ingredients) > 0 || (meal.notes != null && meal.notes != '') }" class="mt-2 mb-0">
    <div class="row">
      <div class="col-6 pt-2">
        <small class="mb-0 text-primary">Last time planned: </small>
      </div>
      <div class="col-6 pt-2 text-end">
        <small th:text="${meal.lastEaten == null? 'Never': meal.getWeeksSinceLastEaten() + ' weeks ago'}"></small>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6 pt-1">
        <small class="mb-0 text-primary">Total times planned: </small>
      </div>
      <div class="col-6 pt-2 text-end">
        <small th:text="${meal.lastEaten == null? '0': meal.count}"></small>
      </div>
    </div>
    <div th:if="${meal.recipeUrl != null && meal.recipeUrl != ''}" class="my-3 col text-center">
      <hr class="my-2">
      <a th:id="${'mealRecipeUrl_' + meal.id}" th:href="${meal.recipeUrl}"
        target="_blank">View Recipe <i class="ms-1 fas fa-external-link-alt"></i></a>
    </div>
  </li>
</th:block>