<th:block th:fragment="mealSubDetails(meal, iStat)">
  <li th:attr="data-parent=${'#subMealList_' + week.id}"  th:classappend="${iStat.last}? 'rounded-0 accordion-sub-' + ${meal.id}: 'rounded-bottom accordion-sub-' + ${meal.id}"
    class="container bg-secondary-2 accordion-collapse collapse border-0" style="padding-left:2rem;">
    <div th:if="${#lists.size(meal.sides) == 0 && #maps.size(meal.ingredients) == 0 && #maps.size(meal.tags) == 0 && (meal.notes == null || meal.notes == '') && (meal.recipeUrl == null || meal.recipeUrl == '')}">
      <div class="py-2 my-0 text-white text-small">No additional details</div>
    </div>
    <h6 th:if="${#lists.size(meal.sides) > 0}" class="mt-2 text-white">Sides</h6>
    <div th:if="${#lists.size(meal.sides) > 0}" class="row no-gutters">
      <div class="col">
        <ul class="list-group list-group-flush item-list week-meal-sides" th:id="${'weekMealSideList_' + week.id + '_' + meal.id}">
          <li class="list-group-item border-bottom list-group-item-dark rounded item py-0 my-0" th:each="side: ${meal.sides}" th:attr="data-target=${side.id}">
            <button class="action edit bg-primary stop-prop btn btn-sm" th:attr="onclick=${'editSide('+side.id+')'}">Edit</button>
            <div class="text-truncate col col-12 text-white" th:text="${side.name}"></div>
            <button th:attr="onclick=${'removeSideFromWeekMeal(' + side.id + ',' + meal.id + ',' + week.id + ')'}"
              class="action delete bg-danger stop-prop btn btn-sm">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <h6 th:if="${#maps.size(meal.ingredients) > 0}" class="my-2 text-white">Ingredients</h6>
    <div th:if="${#maps.size(meal.ingredients) > 0}"
      class="row no-gutters my-2">
      <div class="col">
        <span th:each="ingredient : ${meal.ingredients}" class="badge rounded-pill bg-dark px-2 py-2 mx-1 my-1 meal-ingredient position-relative"
          th:attr="data-target=${ingredient.key.id}">
          <span th:text="${ingredient.key.name}"></span>
          <span class="ingredient-counter position-absolute top-0 start-100 translate-middle py-1 bg-primary border border-light rounded-circle" th:text="${ingredient.value}"></span>
        </span>
      </div>
    </div>
    <h6 th:if="${#maps.size(meal.tags) > 0}" class="my-2 text-white">Tags</h6>
    <div th:if="${#maps.size(meal.tags) > 0}" class="row no-gutters my-2">
      <div class="col">
          <span class="badge rounded-pill bg-info px-2 py-2 mx-1 my-1 meal-tag" th:each="tag : ${meal.tags}"
            th:attr="data-target=${tag.key}" th:text="${tag.value}"></span>
      </div>
    </div>
    <h6 th:if="${meal.notes != null && meal.notes != ''}" class="my-2 text-white">Notes</h6>
    <div th:if="${meal.notes != null && meal.notes != ''}" class="row no-gutters my-2">
      <div class="col px-4">
          <p th:id="${'mealNotes_' + meal.id}" th:text="${meal.notes}" class="text-prewrap text-small mb-0 text-white"></p>
      </div>
    </div>
    <div th:if="${meal.recipeUrl != null && meal.recipeUrl != ''}" class="my-2 col text-center">
      <a class="text-white" th:id="${'mealRecipeUrl_' + meal.id}" th:href="${meal.recipeUrl == 'self_hosted'}? @{/recipe/hosted/__${meal.id}__} : ${meal.recipeUrl}"
        target="_blank">View Recipe <i class="ms-1 fas fa-external-link-alt"></i></a>
    </div>
  </li>
</th:block>