<th:block th:fragment="side(side)">
  <li th:id="${'sideAccordionHeader_' + side.id}" data-toggle="collapse"
    th:attr="data-target=${'#sideAccordion_' + side.id},data-sideid=${side.id}"
    class="clickable my-0 accordion-header item side-item list-group-item list-group-item-action">
    <button th:attr="onclick=${'editSide(' + side.id + ')'}" class="action edit bg-primary stop-prop">Edit</button>
    <div class="row no-gutters">
      <div th:id="${'sideName_' + side.id}" class="side-text text-truncate col col-12 ps-2" th:text="${side.name}"></div>
    </div>
    <button th:attr="onclick=${'deleteSide(' + side.id + ')'}" class="action delete bg-danger stop-prop">Delete</button>
  </li>
  <th:block th:replace="dynamic/side-details :: sideDetails(${side})"></th:block>
</th:block>