<th:block th:fragment="sideDetails(side)">
  <li th:id="${'sideAccordion_' + side.id}"
    class="pt-0 pb-0 px-0 bg-light container accordion-collapse collapse"
    th:classappend="${index == 0? 'show':''}" th:attr="data-target=${side.id}" data-parent="#sideTable">
    <div class="container">
      <h6 th:if="${#lists.size(side.ingredients) > 0}" class="mt-2">Ingredients</h6>
      <span th:id="${'sidePill_' + side.id + '_' + ingredient.id}" class="px-2 py-2 mx-1 my-1 bg-dark badge rounded-pill side-ingredient" 
        th:attr="data-target=${ingredient.id}" data-parent="#sideTable" th:each="ingredient:${side.ingredients}">
        <small th:text="${ingredient.name}"></small>
      </span>
      <div class="mb-2"></div>
      <h6 th:if="${side.notes != null && side.notes != ''}" class="mt-2">Notes</h6>
      <div th:if="${side.notes != null && side.notes != ''}" class="row no-gutters">
        <div class="col px-4">
          <small th:id="${'sideNotes_' + side.id}" th:text="${side.notes}"></small>
        </div>
      </div>
      <div class="my-2 col text-center">
        <a th:if="${side.recipeUrl != null && side.recipeUrl != ''}" th:id="${'sideRecipeUrl_' + side.id}" th:href="${side.recipeUrl}"
          target="_blank">View Recipe <i class="ms-1 fas fa-external-link-alt"></i></a>
      </div>
    </div>
  </li>
</th:block>