<th:block th:fragment="weeksForSelect(weeksForSelect)">
  <label for="addMealsWeekSelect" class="mb-2">Add <span id="addMealCount">1</span> meal(s) to week </label>
  <select id="addMealsWeekSelect" class="form-select form-select-sm text-center">
    <option th:each="week, iter : ${weeksForSelect}" th:value="${week.id}" th:attr="data-add-index=${iter.count}"
      th:selected="${week.isNext()}" th:text="${#dates.format(week.start,'MM/dd/yyyy') + ' - ' + #dates.format(week.end,'MM/dd/yyyy')} + 
                    ${week.isNext()? ' (next)': week.isCurrent()? ' (current)': ''}">
    </option>
  </select>
</th:block>