<th:block th:fragment="weekDetails(week,index)">
  <li th:id="${'weekAccordion_' + week.id}"
    class="pt-0 pb-0 px-0 bg-secondary container accordion-collapse collapse accordion-header clickable"
    th:classappend="${index == 0? 'show':''}" th:attr="data-target=${week.id}" data-parent="#weekTable">
    <ul class="list-group item-list sub-meal-list" th:id="${'subMealList_' + week.id}">
      <th:block th:each="meal, iStat: ${week.meals}">
        <li class="item list-group-item list-group-item-action my-0 bg-secondary week-meal-item collapsed" th:classappend="${iStat.last? 'rounded-top':'rounded'}"
          th:id="${'accordion_header_sub_' + meal.id + '_' + week.id}" th:attr="data-target=${'#weekAccordion_' + week.id + ' .accordion-sub-' + meal.id}"
          data-toggle="collapse">
          <button class="action edit bg-primary stop-prop" th:attr="onclick=${'editMeal('+meal.id+')'}">Edit</button>
          <div class="row py-0">
            <div th:id="${'subMealName_' + meal.id + '_' + week.id}" class="meal-text text-truncate col col-8 py-1 px-0 sub-meal-text"
              th:text="${meal.name}"></div>
            <div class="col col-4 px-0 text-end">
              <button class="btn btn-sm btn-outline-primary stop-prop" th:attr="onclick=${'addSide(' + meal.id + ',' + week.id + ')'}"><i class="fas fa-edit"></i> Sides</button>
            </div>
          </div>
          <button th:attr="onclick=${'removeMealFromWeek(' + meal.id + ',' + week.id + ')'}"
            class="action delete bg-danger stop-prop">Delete</button>
        </li>
        <th:block th:replace="dynamic/meal-sub-details :: mealSubDetails(${meal})"></th:block>
      </th:block>
      <li class="item list-group-item list-group-item-action my-0 bg-secondary add-meal-from-week">
        <button class="btn rounded-0 rounded-bottom py-0 w-100 btn-success" style="font-size:1.5rem; line-height: 1.85rem" th:attr="onclick=${'addMeal(' + week.id + ')'}">+</button>
      </li>
    </ul>
  </li>
</th:block>