<th:block th:fragment="week(week,stat)">
  <li th:id="${'weekAccordionHeader_' + week.id}" data-toggle="collapse"
    th:attr="data-target=${'#weekAccordion_' + week.id},data-weekid=${week.id}"
    class="clickable my-0 accordion-header item week-item list-group-item list-group-item-action"
    th:classappend="${stat?.index == 0? '':'border-top'}">
    <div class="row no-gutters">
      <div th:id="${'weekName_' + week.id}" class="week-text text-truncate col col-11 ps-0" th:text="${'Week ' + #dates.format(week.start,'MM/dd/yyyy') + ' - ' + #dates.format(week.end,'MM/dd/yyyy')} + ${ 
                    week.isNext()? ' (next)': week.isCurrent()? ' (current)': ''}"></div>
      <div class="col-1 text-right d-flex align-items-center">
        <div>
          <i class="far fa-list-alt text-info clickable stop-prop"
            th:attr="onclick=${'openIngredientsModal(' + week.id + ')'}" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <button th:attr="onclick=${'deleteWeek(' + week.id + ')'}" class="action delete bg-danger stop-prop">Delete</button>
  </li>
  <th:block th:replace="dynamic/week-details :: weekDetails(${week}, ${stat.index})"></th:block>
</th:block>