<html>
<th:block th:replace="partial/head :: head('Meal Planner')"></th:block>
<body>
  <th:block th:replace="partial/header"></th:block>
  <div id="mealsContainer" class="page-container container">
    <div class="row">
      <div class="col-12 mt-1 mb-0">
        <div class="input-group">
          <input id="searchBox" type="search" class="form-control" placeholder="Search" aria-label="Search"/>
          <button id="searchFilterBtn" type="button" class="input-group-text border-1" data-toggle="modal" data-title="Filter results"
            data-target="#searchModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" fill="currentColor" class="bi bi-filter"
              viewBox="0 0 16 16">
              <path
                d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
              </path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush item-list" id="mealTable">
      <th:block th:fragment="mealList" th:each="meal:${meals}">
        <th:block th:replace="dynamic/meal :: meal(${meal})"></th:block>
      </th:block>
    </ul>
  </div>
  <div id="sidesContainer" class="container page-container collapse">
    <ul class="list-group list-group-flush item-list" id="sideTable">
      <th:block th:fragment="sideList" th:each="side:${sides}">
        <th:block th:replace="dynamic/side :: side(${side})"></th:block>
      </th:block>
    </ul>
  </div>
  <div id="weeksContainer" class="container page-container collapse">
    <ul class="list-group list-group-flush item-list" id="weekTable">
      <th:block th:fragment="weekList" th:each="week, stat :${weeks}">
        <th:block th:replace="dynamic/week :: week(${week},${stat})"></th:block>
      </th:block>
    </ul>
  </div>
</body>
<div class="create-meal">
  <button onclick="createMeal()" class="btn btn-primary btn-lg shadow add">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div class="create-side">
  <button onclick="createSide()" class="btn btn-success btn-lg shadow add">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div class="alert alert-success pb-2 pt-0 add-meal text-center" role="alert">
  <div class="col my-0 pb-0 pt-2 text-center" id="hideAddAlert">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
    <i class="fa fa-angle-up collapse" aria-hidden="true"></i>
  </div>
  <label for="addMealsWeekSelect" class="mb-2">Add <span id="addMealCount">1</span> meal(s) to week </label>
  <select id="addMealsWeekSelect" class="form-select form-select-sm text-center">
    <option th:each="week, iter : ${weeksForSelect}" th:value="${week.id}" th:attr="data-add-index=${iter.count}"
      th:selected="${week.isNext()}" th:text="${#dates.format(week.start,'MM/dd/yyyy') + ' - ' + #dates.format(week.end,'MM/dd/yyyy')} + 
                    ${week.isNext()? ' (next)': week.isCurrent()? ' (current)': ''}">
    </option>
  </select>
  <div class="row">
    <div id="addMealsToWeekButtonContainer" class="col text-center mt-2">
      <button type="button" class="btn btn-success w-100 mt-2 mb-2 px-5" onclick="addSelectedMealsToWeek()">Add</button>
    </div>
    <div id="addMealsToWeekCheckboxContainer" class="col text-center mt-2 collapse">
    </div>
  </div>
</div>

</html>
<script th:inline="javascript">
  let tags;
  let ingredients;
  let sides;
  let mealSidesMap = {};
  let unselecting = false;
  $(document).ready(function () {
    refreshIngredients();
    refreshTags();
    refreshSides();
  });

  $(document).on('click', 'button.action', function () {
    $(this).closest('li').animate({
      left: 0 + 'px'
    }, 200);
  });
  $(document).on('click', '.meal-list-fav .far.fa-heart', function () {
    $(this).removeClass('far');
    $(this).addClass('fas');
    $.ajax({
      url: contextpath + 'meal/favorite/' + $(this).data('target'),
      method: "POST",
      data : {
        toggle: true
      }
    });
  });
  $(document).on('click','#hideAddAlert',function(){
    if ($('.alert.add-meal').hasClass('slide-down')) {
      $('.alert.add-meal').removeClass('slide-down');
      $('#hideAddAlert .fa-angle-up').hide();
      $('#hideAddAlert .fa-angle-down').show();
    } else {
      $('.alert.add-meal').addClass('slide-down');
      $('#hideAddAlert .fa-angle-up').show();
      $('#hideAddAlert .fa-angle-down').hide();
    }
  })
  $(document).on('click', '.meal-list-fav .fas.fa-heart', function () {
    $(this).removeClass('fas');
    $(this).addClass('far');
    $.ajax({
      url: contextpath + 'meal/favorite/' + $(this).data('target'),
      method: "POST",
      data : {
        toggle: false
      }
    });
  });
  $(document).on('click', '.stop-prop', function (e) {
    e.stopPropagation();
  });
  let cachedCheckedMealIds = new Set();
  $(document).on('change', 'input.meal-select:checkbox', function (e) {
    if ($(this).is(':checked')) {
      cachedCheckedMealIds.add($(this).data('target'));
      $('#sideAlert_' + $(this).data('target')).addClass("show");
    } else {
      $('#sideAlert_' + $(this).data('target')).removeClass("show");
      cachedCheckedMealIds.delete($(this).data('target'));
    }
    if (cachedCheckedMealIds.size > 0) {
      $('#addMealCount').html(cachedCheckedMealIds.size)
      $('.alert.add-meal').addClass('display');
    } else {
      $('.alert.add-meal').removeClass('display');
    }
  });
  $('#searchBox').on('search',function(){
    search();
  });
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  $('#mealTable').listSwipe();
  $('#sideTable').listSwipe();
  $('#weekTable').listSwipe({
    leftAction: false,
    itemSelector: '> li.week-item'
  });
  $('.sub-meal-list').listSwipe();

  const tab = new URLSearchParams(window.location.hash.substr(1)).get('tab');
  if (tab == 'weeks') {
    $('.nav-item').removeClass('active');
    $('#weekNavLink').addClass('active');
    $('.page-container').hide();
    $("#weeksContainer").show();
  } else if (tab == 'sides') {
    $('.nav-item').removeClass('active');
    $('#sideNavLink').addClass('active');
    $('.page-container').hide();
    $("#sidesContainer").show();
  }

</script>