<html>
<th:block th:replace="partial/head :: head('Meal Planner')"></th:block>
<body>
  <th:block th:replace="partial/header"></th:block>
  <div id="mealsContainer" class="page-container container">
    <div class="row">
      <div class="col-12 mt-1 mb-0">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="input-group-text border-1" data-toggle="modal" data-title="Filter results"
            data-target="#searchModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" fill="currentColor" class="bi bi-filter"
              viewBox="0 0 16 16">
              <path
                d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
              </path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush item-list" id="mealTable">
      <th:block th:fragment="mealList" th:each="meal:${meals}">
        <th:block th:replace="dynamic/meal :: meal(${meal})"></th:block>
      </th:block>
    </ul>
  </div>
  <div id="weeksContainer" class="container page-container collapse">
    <ul class="list-group list-group-flush item-list" id="weekTable">
      <th:block th:fragment="weekList" th:each="week, stat :${weeks}">
        <th:block th:replace="dynamic/week :: week(${week},${stat})"></th:block>
      </th:block>
    </ul>
  </div>
</body>
<div class="create-meal">
  <button onclick="createMeal()" class="btn btn-primary btn-lg shadow add">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div class="alert alert-success py-2 add-meal text-center" role="alert">
  <label for="addMealsWeekSelect" class="mb-2">Add <span id="addMealCount">1</span> meal(s) to week </label>
  <select id="addMealsWeekSelect" class="form-select form-select-sm text-center">
    <option th:each="week, iter : ${weeksForSelect}" th:value="${week.id}" th:attr="data-add-index=${iter.count}"
      th:selected="${week.isNext()}" th:text="${#dates.format(week.start,'MM/dd/yyyy') + ' - ' + #dates.format(week.end,'MM/dd/yyyy')} + 
                    ${week.isNext()? ' (next)': week.isCurrent()? ' (current)': ''}">
    </option>
  </select>
  <div class="row">
    <div id="addMealsToWeekButtonContainer" class="col text-center mt-2">
      <button type="button" class="btn btn-success btn mt-2 mb-3 px-5" onclick="addSelectedMealsToWeek()">Add</button>
    </div>
    <div id="addMealsToWeekCheckboxContainer" class="col text-center mt-2 collapse">
    </div>
  </div>
</div>

</html>
<script th:inline="javascript">
  let tags;
  let ingredients;
  let unselecting = false;
  $(document).ready(function () {
    refreshIngredients();
    refreshTags();
  });

  $(document).on('click', 'button.action', function () {
    $(this).closest('li').animate({
      left: 0 + 'px'
    }, 200);
  });
  $(document).on('click', '.far.fa-heart', function () {
    $(this).removeClass('far');
    $(this).addClass('fas');
  });
  $(document).on('click', '.fas.fa-heart', function () {
    $(this).removeClass('fas');
    $(this).addClass('far');
  });
  $(document).on('click', '.stop-prop', function (e) {
    e.stopPropagation();
  });
  $(document).on('change', 'input.meal-select:checkbox', function (e) {
    if ($('input.meal-select:checkbox:checked').length > 0) {
      $('#addMealCount').html($('input.meal-select:checkbox:checked').length)
      $('.alert.add-meal').addClass('display');
    } else {
      $('.alert.add-meal').removeClass('display');
    }
  });
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  $('#mealTable').listSwipe();
  $('#weekTable').listSwipe({
    leftAction: false,
    itemSelector: '> li.week-item'
  });
  $('.sub-meal-list').listSwipe();

  function addSelectedMealsToWeek() {
    let selectedMealIds = $('.meal-select:checked').map(function () { return parseInt($(this).val()) }).get();
    let weekId = parseInt($('#addMealsWeekSelect').val());
    let addIndex = $('#addMealsWeekSelect option:selected').data('add-index');
    $.ajax({
      url: contextpath + 'week/add-meal',
      method: "POST",
      dataType: "json",
      data: {
        weekId: weekId,
        meals: JSON.stringify(selectedMealIds),
        addIndex: addIndex
      },
      success: function (data) {
        $('#addMealsToWeekButtonContainer').hide();
        $('#addMealsToWeekCheckboxContainer').html($('#checkmarkAni').html());
        $('#addMealsToWeekCheckboxContainer').show();
        $('input.meal-select:checkbox').prop('checked', false);
        setTimeout(function(){
          $('.alert.add-meal').removeClass('display');
          setTimeout(function(){
            $('#addMealsToWeekCheckboxContainer').hide();
            $('#addMealsToWeekButtonContainer').show();
          },1000)
        },2000)
        refreshMealList();
        refreshWeekList();
        $('#addMealsWeekSelect option:selected').val(data.id);
      }
    });
  }

  function removeMealFromWeek(mealId, weekId) {
    $.ajax({
      url: contextpath + 'meal/remove-from-week',
      method: "DELETE",
      data : {
        mealId: mealId,
        weekId: weekId
      },
      success: function (data) {
        $('#weekAccordion_' + weekId + ' [id^=accordion_header_sub_' + mealId + ']').remove();
        $('#weekAccordion_' + weekId + ' .accordion-sub-' + mealId).remove();
        refreshMeal(mealId);
      }
    });
  }

  function deleteWeek(id) {
    if (confirm('Are you sure you want to delete this week?')) {
      $.ajax({
        url: contextpath + 'week/delete/' + id,
        method: "DELETE",
        success: function (data) {
          $('#weekAccordion_' + id).remove();
          $('#weekAccordionHeader_' + id).remove();
          $('#addMealsWeekSelect option[value="' + id + '"]').remove();
        }
      });
    }
  }

  function deleteMeal(id) {
    if (confirm('Are you sure you want to delete this meal?')) {
      $.ajax({
        url: contextpath + 'meal/delete/' + id,
        method: "DELETE",
        success: function (data) {
          $('#accordionHeader_' + id).remove();
          $('#accordion_' + id).remove();
          $('[id^=accordion_header_sub_' + id + ']').remove();
          $('.accordion-sub-' + id).remove();
        }
      });
    }
  }

  function refreshMealList() {
    $.ajax({
      url: contextpath + 'meals',
      method: "GET",
      beforeSend: function() {
        $('#mealTable').addClass('loading');
      },
      success: function (data) {
        $('#mealTable').removeClass('loading');
        $('#mealTable').html(data);
      }
    });
  }

  function refreshWeekList() {
    $.ajax({
      url: contextpath + 'weeks',
      method: "GET",
      beforeSend: function() {
        $('#weekTable').addClass('loading');
      },
      success: function (data) {
        $('#weekTable').removeClass('loading');
        $('#weekTable').html(data);
        $('.sub-meal-list').unbind();
        $('.sub-meal-list').listSwipe();
      }
    });
  }

  function refreshMeal(id) {
    refreshMealDetails(id);
    refreshMealSubDetails(id);
    refreshMealName(id);
  }

  function refreshMealDetails(mealId) {
    $.ajax({
      url: contextpath + 'meal/details/' + mealId + '?view=dynamic/meal-details',
      method: "GET",
      beforeSend: function() {
        $('#accordion_' + mealId).addClass('loading');
      },
      success: function (data) {
        $('#accordion_' + mealId).replaceWith(data);
        $('#accordion_' + mealId).removeClass('loading');
      }
    });
  }
  function refreshMealSubDetails(mealId) {
    $.ajax({
      url: contextpath + 'meal/details/' + mealId + '?view=dynamic/meal-sub-details',
      method: "GET",
      beforeSend: function() {
        $('.accordion-sub-' + mealId).addClass('loading');
      },
      success: function (data) {
        $('.accordion-sub-' + mealId).replaceWith(data);
        $('.accordion-sub-' + mealId).removeClass('loading');
      }
    });
  }
  function refreshMealName(mealId) {
    $.ajax({
      url: contextpath + 'json/meal/' + mealId,
      method: "GET",
      success: function (data) {
        $('#mealName_' + mealId).html(data.name);
        $('[id^=subMealName_' + mealId +']').html(data.name);
      }
    });
  }
  function refreshWeek(id) {
    $.ajax({
      url: contextpath + 'week/details/' + id + '?view=dynamic/week-details',
      method: "GET",
      success: function (data) {
        $('#weekAccordion_' + id).replaceWith(data);
        $('#weekAccordionHeader_' + id).click();
        $('.sub-meal-list').unbind();
        $('.sub-meal-list').listSwipe();
      }
    });
  }

  function refreshTags() {
    $.ajax({
      url: contextpath + 'json/tags',
      method: "GET",
      success: function (data) {
        tags = new Map(Object.entries(data))
      }
    });
  }

  function refreshIngredients() {
    $.ajax({
      url: contextpath + 'json/ingredients',
      method: "GET",
      success: function (data) {
        ingredients = data;
      }
    });
  }

  const tab = new URLSearchParams(window.location.hash.substr(1)).get('tab');
  if (tab == 'weeks') {
    $('.nav-item').removeClass('active');
    $('#weekNavLink').addClass('active');
    $('.page-container').hide();
    $("#weeksContainer").show();
  }

</script>